<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduConnect - Connexion</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>

  <body class="bg-light">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <img src="/img/404.png" alt="" srcset="" width="250px"
                height="250px" style="border-radius: 50%;"">
      </div>
      <h1 class="text-center">Page introuvable</h1>
      <div class="text-center"><a href="/" class="btn btn-outline-primary mt-2">Se connecter</a></div>
    </div>

    <!-- Scripts -->
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
